In [20]:
# *args = arguments
# **kwargs = key words arguments

In [2]:
def test_func(args):
    print(args)

In [3]:
test_func(5)

5

In [6]:
def test_func_02(*args):
    print(args)
    print(type(args))

In [7]:
test_func_02(1,2,3,4)

(1, 2, 3, 4)
<class 'tuple'>

In [14]:
def test_func_03(name, *args):
    print(args)
    print(name)

In [15]:
test_func_03("we", 52,48,78)

(52, 48, 78)
we

In [18]:
def names_func(name, *args):
    print(f"my name is {name}")
    if args:
        print("other names has:")
        i = 1
        for n in args:
            print(f"{i}. {n}")
            i += 1

In [19]:
names_func("more", "reza", "saman", "ali")

my name is more
other names has:
1. reza
2. saman
3. ali

In [27]:
def names_func_02(**kwargs):
    print(kwargs)

In [31]:
names_func_02(ns1= "more", ns2 = "reza", ns3 = "saman", ns4= "ali")

{'ns1': 'more', 'ns2': 'reza', 'ns3': 'saman', 'ns4': 'ali'}

In [39]:
def names_func_03(name, **kwargs):
    print(f"my name is {name}")
    if kwargs:
        print("other names has:")
        i = 1
        for n in kwargs.values():
            print(f"{i}. {n}")
            i += 1

In [40]:
names_func_03(name="more", ns1= "more", ns2 = "reza", ns3 = "saman", ns4= "ali")

my name is more
other names has:
1. more
2. reza
3. saman
4. ali